

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #CFC7C7;
     position: relative;
     font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    width: 100%;
    margin: 3px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.logo{
    flex: 7;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.box-1{
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
    /* position: absolute; */
    width: 1259px;
    height: 700px;

    background: #FFFFFF;
}

.container{
    position: relative;
    width: 80%;
    margin: auto;
    padding: 70px;
    
}

.nav-bar{
    margin-bottom: 15px;
    display: inline;
}

.nav-links{
    flex: 3;
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.nav-links li{
    list-style: none;
    padding: 4px;
    /* float: right; */
    text-decoration: none;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
}

.nav-links a:hover{
    text-decoration: underline;
}

.nav-bar li{
    display: inline;
    padding: 10px;
    font-weight: 900;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

.active{
    background: rgba(68, 94, 235, 0.37);
}


.sign-in-container{
    display: flex;
    position: relative;
    border: 1px solid black;
    width: 80%;
    height: 300px;
    margin-top: 20px;
    margin: auto;
    padding: 45px;
}

.form-group{
    position: absolute;
    top: 50px;
    left: 160px;
}

.form-group input{
    flex: 1;
    font-size: 30px;
    font-weight: 800;
    display: block;
    margin-bottom: 40px;
    width: 100%;
    height: 65.76px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
}

.form-group button{
    margin-left:140px ;
    color: white;
    font-family: Roboto;
    font-weight: normal;
    font-size: 28px;
    background-color: #445EEB;
    Width:182px;
    Height:60px;
    border-radius: 4px;
}

.fieldContainer {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
 }

 .icon {
    font-size: 30px;
    padding-top: 20px;
    background: rgb(11, 9, 116);
    color: white;
    width: 40px;
    height: 45.76px;
    text-align: center;
 }
 .form{
    background-color: red;
}

 @media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:871px){
    body{
        background-color: #ffffff;
         position: relative;
    }

    .box-1{
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        /* position: absolute; */
        width: 100%;
        height: 700px;
    
        background: #FFFFFF;
    }
    .container{
        position: relative;

        /* padding: 70px; */
        
    }

}
 
@media screen and (max-width:768px){
    body{

        /* display: none; */

    }

    .form{
        background-color: red;
    }
    .fieldsContainer{
        /* background-color: red; */
       
        left: 100%;
        position: absolute;
    }
    .fieldsContainer button{
        position: relative;
        width: 60%;
        right: 70px;
    }

    .sign-in-container{
        background-color: red;
        position: relative;
    }
    .form-group input{
        flex: 1;
        font-size: 30px;
        font-weight: 800;
        display: block;
        margin-bottom: 40px;
        /* width: 80%; */
        height: 65.76px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 0px;
    }
    .nav-active{
        transform: translateX(0%);
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

}









/*
    body{
        overflow-x: hidden;
        margin: 0px;
        padding: 0px;
        overflow-x: visible;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .sign-in-container{
        overflow: hidden;
        display: flex;
        display: block;
        position: relative;
        border: 1px solid black;
        width: 100%;
        height: 300px;
        margin-top: 20px;
        padding: 0px;
    }

    .form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .form-group input{
        position: absolute;
        flex: 1;
        font-size: 30px;
        font-weight: 800;
        display: block;
        margin-bottom: 40px;
        width: 60%;
        height: 65.76px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
    }

    .fieldContainer {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
     }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}  */

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 100;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}